@charset "UTF-8";

*{
	margin: 0;
	padding:0;
	font-family: 'Albert Sans', sans-serif;
}
a{
	text-decoration: none;
}
/* 화면 전체 렙 */
.wrapper{
	width: 95%;
	margin: auto;
}
/* content 랩 */
.wrap{
	width : 100%;
	/* margin: auto; */
}

/* 제품 목록 네비 */
.navi_bar_area {
  overflow: hidden;
  background-color: white;	
  margin-top: 4%;	
  border-bottom: 1px solid #6AAFE6;
}

.navi_bar_area a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 10px;
}

.dropdown .dropbtn {
  font-size: 14px;
  font-weight: bold;  
  border: none;
  outline: none;
  color: #6AAFE6;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width:140px;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  width: 466px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  width: 80px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navi_bar_area a:hover, .dropdown:hover .dropbtn {
  background-color: #6AAFE6;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
    min-height: 1000px;
}


/* float 속성 해제 */
.clearfix{
	clear: both;
}

/* 슬라이드 */
.slide_div img{
	margin: auto;
}
.slide_div_wrap{
	padding: 15px 0 15px 0;
    background: white;
}
.image_wrap img{
	max-width: 85%;
    height: auto;
    display: block;
	margin: auto;    
}

/* 상품 평점순 노출 관련 */
.ls_wrap{
    margin: 30px 0 30px 0;
    padding: 0 10px 0 10px;
}
.ls_div_content{
	width: 80%;
    margin: auto;
    height: 275px;
    border: 1px solid #dadada;
}
.image_wrap{
	width: 80%;
    height: 60%;
    margin: auto;
    padding: 5% 0 5% 0;
    display: flex;
    align-items: center;    
}
.ls_category{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}
.ls_rating{
	text-align: center;
    font-size: 13px;
    color: #e15b6e;
}
.ls_bookName{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.ls_div_subject{
	font-weight: bold;
	font-size: 26px;
	padding-bottom: 10px;
}

.ls_div_content_next:before {
    content:url(http://lorempixel.com/20/20/);
}
.ls_div_content_prev:before {
    content:url(http://lorempixel.com/20/20/);
}

.ls_div_content_prev{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    left: -3%;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_prev:hover{
   opacity: 80%;
}
.ls_div_content_next{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    right: -3%;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}

.ls_div_content_next:hover{
   opacity: 80%;
}

/* @media screen and (max-width: 768px) {
	
	body { color: red; }

} */

