@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}

a{
    text-decoration: none;
}

/* 화면 전체 렙 */
.wrapper{
	width: 95%;
	margin: auto;
}
/* content 랩 */
.wrap{
	width : 100%;
	/* margin: auto; */
}



/* 검색 필터 정보 */
.search_filter {
    width: 85%;
    margin: auto;
	margin-top: 30px;
    margin-bottom: 50px;    
} 
.filter_button_wrap {
    width: 100%;
}

.filter_button_wrap button {
    width: 50%;
}

.filter_button{
	background-color: #6AAFE6;
	border: 1px solid #6AAFE6;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
} 
.filter_button_wrap:after {
    content: "";
    clear: both;
    display: table;
}  	
.filter_button_wrap button:not(:last-child) {
    border-right: none;
}

.filter_button:hover {
    background-color: #00BFFF;
}

/* 버튼이 클릭 되었는지 확인 */
.filter_active{
	background-color: #1E90FF;
}

/* 필터란 */
.filter_content{
	padding:20px 50px 20px 50px;
	border: 1px solid gray;
}

.filter_content a:not(:first-child){
	margin-left: 10px;
}

.filter_a{
	display: block;
}

.filter_b{
	display: none;
}

#searchForm{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    display: flex;
    height: 30%;
    width: 80%;	
}
.search_input select{
	width: 20%;
    text-align: center;
    font-size: 15px;	
}
.search_input input{
    margin-left: 10px;
    width: 57%;	
    font-size: 18px;
    padding-left: 2%;
}
.search_btn{
	margin-left: 10px;
    width: 17%;
    border-radius: 14px;
    font-size: 17px;
    font-weight: 600;	
}

/* 로그인 버튼 영역 */
.login_area{
	width: 25%;
	height: 100%;
	display: inline-block;	
	text-align: center;		
}
.login_button{
	height: 50%;
    background-color: #D4DFE6;
    margin-top: 30px;
    line-height: 77px;
    font-size: 40px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;	
}
.login_area>span{
	margin-top: 10px;
    font-weight: 900;
    display: inline-block;
}
.login_button{
	height : 50%;
	background-color: #D4DFE6;
	margin-top:30px;
}

/* 제품 목록 네비 */
.navi_bar_area{
	width: 100%;
    height: 70px;
    background-color: #7696fd;
}

.table_empty {
	padding-bottom: 50%;
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
	margin-top: 10%;
    height: 100%;
}

/* 상품 표 */
.list_search_result{
	width: 90%;
    margin: auto;	
}
.type_list{
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    border-collapse: collapse;	
}
.type_list tr{
	height:200px;
	border-bottom: 1px solid #e7e7e7;
}
.detail div{
	margin-bottom: 5px;
}
.category{
	font-size: 12px;
   	font-weight: 600;
}
.title{
    font-size: 20px;
    color: #3a60df;
    font-weight: 700;
}
.author{
	font-size: 14px;
}
.info{
	text-align: center;
}
.price{
	text-align: center;
}
.org_price del{
	font-size: 13px;
}
.sell_price strong{
	color: #da6262;
   	font-size: 18px;
}

	/* 상품 이미지 관련 */
	.image_wrap {
	    width: 100%;
	    height: 100%;
	}	
	.image_wrap img {
	    max-width: 85%;
	    height: auto;
	    display: block;
	}

	/* 페이지 버튼 인터페이스 */
	.pageMaker_wrap{
		text-align: center;
	    margin-top: 30px;
	    margin-bottom: 40px;
	}
	.pageMaker{
	    list-style: none;
	    display: inline-block;
	}	
	.pageMaker_btn {
	    float: left;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    margin-left: 20px;
	}
	.active{
		border : 2px solid black;
		font-weight:400;
	}
	.next, .prev {
	    border: 1px solid #ccc;
	    padding: 0 10px;
	}
	.pageMaker_btn a:link {color: black;}
	.pageMaker_btn a:visited {color: black;}
	.pageMaker_btn a:active {color: black;}
	.pageMaker_btn a:hover {color: black;}
	.next a, .prev a {
	    color: #ccc;
	}

/* 로그인 성공 영역 */
.login_success_area{
    height: 62%;
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    padding-top: 5%;
}
.login_success_area>span{
    display : block;
    text-align: left;
    margin-left: 10%;
}

.login_success_area>a{
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    background: #e1e5e8;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 25px;
    color: #606267;    
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}

